<% content_for :menu do %>
  <ul>
    <li><%= link_to "Home", root_path%></li>
    <li><%= link_to "Event", event_path %></li>
    <li><%= link_to "Venue", venue_path %></li>
    <li><%= link_to "Users", users_path, :id => "current" %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
<% end %>

<% content_for :sidebar do %>
  <div class="sidebox">
    <h1><%= link_to "Login", users_path %></h1>
    
  </div>
  <%= yield :sidebar %>
<% end %>
<%= render :file => 'layouts/application' %>
